ZEROSTEP_TOKEN=Your token here
ADMIN_USERNAME=your admin username
ADMIN_PASSWORD=Your admin password
CUSTOMER_USERNAME=your customer username
CUSTOMER_PASSWORD=your customer password
AGENT_USERNAME=Your agent username
AGENT_PASSWORD=Your agent password
LOCAL_TEST_TIMEOUT=your time it replaces {timeout: time} inside tests
TEST_TIMEOUT=your test timeout
GLOBAL_TIMEOUT=your total time for all the test
ACTION_TIMEOUT=your action time
NAVIGATION_TIMEOUT=your navigation time
BASE_URL=Your base url
DATA_REPO_TOKEN=Your token for data  #Intended for an access to the environment for storing reports.
